@import "media.css";

*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #1f1e1e;
}
a{
    text-decoration: none;
    color: inherit;
}
.title{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.header__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*min-height: 100vh;*/
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
.header__top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 0 49px;
    align-items: center;
}
.menu{
    width: 100%;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    margin-top: 15px;
    padding: 27px 0 24px;
}
.menu__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    color: #fff;
}
.header__phone{
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    font-weight: 700;
}
.header__phone-number {
    font-weight: 300;
    margin-left: 19px;
    padding: 12px 31px 13px;
    background-color: #886239;
    border-radius: 22px;
}
.header__title{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    line-height: 130%;
    font-size: 90px;
    text-align: center;
    margin-bottom: auto;
}
.header__descr{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 420px;
}
.header__btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 19px 55px 20px;
    border-radius: 30px;
    background: #886239;
    margin-bottom: 20px;
}
.header__arrow{
    text-align: center;
    margin-bottom: 15px;
}
.direction{
    padding: 100px 0;
}
.direction__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}
.direction__img{
    display: block;
}
.direction__text{
    font-size: 16px;
    border: 1px solid #d9d9de;
    border-top: none;
    padding: 10px 19px 14px;

}
.travel-info{
    background-image: url(../images/travel-info-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
    padding: 30px 0 50px;
}
.travel-info__title{
    color: #fff;
    margin-bottom: 50px;
}
.travel-info__items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 54px 67px;
    text-align: center;
}
.travel-info__img {
    margin-bottom: 15px;
}
.travel-info__text {
    color: #fff;
    font-size: 16px;
    line-height: 130%;
}
.popular {
    padding: 100px 0;
}
.popular__title {
    margin-bottom: 40px;
}
.popular__items{
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;
}
.popular__link {
    padding: 16px 24px 19px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 256px;
    line-height: 130%;
}
.popular__link:nth-child(3),
.popular__link:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
}
.popular__link-title {
    font-weight: 500;
    margin-bottom: 15px;
}
.popular__price {
    font-weight: bold;
    font-size: 16px;
    margin-top: auto;
}
.popular__country,
.popular__time {
    margin-bottom: 15px;
}
.popular__link-title--big {
    font-size: 24px;
}
.map{
    padding-bottom: 100px;
}
.map__title{
    margin-bottom: 46px;
}
.about {
    padding-bottom: 100px;
}
.about__inner{
    display: grid;
    grid-template-columns: 448px 640px;
    grid-gap: 32px;
}
.about__title{
    text-align: left;
    margin-bottom: 25px;
}
.about__text {
    margin-bottom: 34px;

}
.about__link{
    text-decoration: underline;
    font-size: 16px;
    line-height: 19px;
    color: #c4c4c4;
}
.about__popup{
    background-image: url(../images/video-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.gallery {
    padding: 50px 0 105px;
    background: #886239;
    color: #fff;
}
.gallery__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-right: 160px;

}
.gallery__link {
    font-size: 16px;
    text-decoration: underline;
    line-height: 19px;
}
.gallery__item-img{
    margin: 0 auto;
    width: 60%;
}
.gallery__slider{
    margin-bottom: 50px;
}
.slick-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 10;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.tour {
    padding: 100px 0;
}
.tour__title{
    margin-bottom: 77px;
}
.tour__wrapper {
    column-count: 2;
    column-gap: 46px;
    border-bottom: 1px solid #D9D9DE;
    padding-bottom: 50px;
    margin-bottom: 44px;
}
.tour__text{
    margin-bottom: 15px;
}
.tour__text span{
    font-weight: 700;
}
.tour__info {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 70px;
}
.tour__info-item{
    color: #886239;
    font-family: PT Serif, serif;
    font-weight: bold;
    font-size: 58px;
    line-height: 130%;
    text-align: center;
}
.tour__info-text {
color: #1F1E1E;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
}
.booking{
    background: #eaeaea;
    padding: 75px 0;
}
.booking__title {
    margin-bottom: 43px;
}
.booking__form{
    max-width: 830px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.booking__input {
    border: #d9d9de 1px solid;
    height: 44px;
    width: 256px;
    padding: 11px 14px 12px;
    margin-bottom: 28px;
    font-size: 16px;
}
.booking__input::placeholder,
.booking__area::placeholder{
    font-size: 16px;
    color: #c4c4c4;
    font-family: 'Roboto', sans-serif;
}
.booking__area {
    width: 100%;
    padding: 14px;
    max-height: 112px;
    border: #d9d9de 1px solid;
    resize: none;
    margin-bottom: 67px;
}
.booking__btn {
    max-width: 297px;
    max-height: 60px;
    border: none;
    background: #886239;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    padding: 19px 65px 20px;
    border-radius: 30px;
}
.booking__label {
    font-size: 16px;
    line-height: 130%;
    text-decoration: underline;
    display: flex;
    align-items: center;
}
.booking__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: -45px;
}
.booking__checkbox-style {
    width: 26px;
    height: 26px;
    border: 2px #c4c4c4 solid;
    border-radius: 2px;
    position: absolute;
    margin-left: -45px;
}
.booking__checkbox:checked + .booking__checkbox-style::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #c4c4c4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer{
    background: #1F1E1E;
    padding: 80px 0;
}
.footer__logo {
    text-align: center;
    margin-bottom: 70px;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    color: rgba(255,255,255, .8);
    font-size: 14px;
    line-height: 130%;
    max-width: 830px;
    margin: 0 auto;
}
.footer__info{
    width: 255px;
}
.footer__wrapper-title{
    margin-bottom: 7px;
    font-weight: 500;
    color: #fff;
}
.footer__copy{
    margin-bottom: 3px;
}
.footer__link{
    text-decoration: underline;
}
.footer__address{
    width: 165px;
}
.footer__contacts{
    width: 210px;
}
.footer__mail{
    display: block;
}
.menu__btn{
    display: none;
}



@media (max-width: 1140px) {
    .direction__inner{
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
    }
    .direction__img{
        width: 100%;
    }
    .popular__link {
        min-height: 200px;
    }
    .popular__items{
        grid-gap: 10px;
    }
    .about__inner{
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }


    .tour__info{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 15px;
    }
}

@media (max-width: 800px) {
    .header__phone span {
        display: none;
    }
    .travel-info__items{
        grid-template-columns: repeat(3,1fr);
        grid-gap: 40px;
    }
    .header__title {
        margin-top: -30px;
        font-size: 80px;
    }
    .header__descr {
        color: #fff;
    }

    .popular__items{
        grid-template-columns: repeat(2,1fr);
    }
    .popular__link:nth-child(3),
    .popular__link:nth-child(6) {
        grid-column: auto;
        grid-row: auto;
    }
    .popular__link {
        min-height: 320px;
    }
    .map__iframe{
        height: 400px;
    }
    .about__inner{
        grid-template-columns: 1fr;
    }
    .about__popup{
        min-height: 450px;
    }
    .tour,
    .footer,
    .gallery,
    .tour,
    .booking,
    .about,
    .popular,
    .map,
    .direction{
        padding: 50px 0;
    }
    .tour__wrapper{
        column-count: 1;
    }
    .tour__title{
        margin-bottom: 40px;
    }
    .tour__info{
        grid-template-columns: repeat(2, 1fr);

    }
    .booking__input{
        width: 80%;
    }
    .booking__area{
        width: 80%;
        margin-bottom: 30px;
    }
    .booking__form{
        flex-direction: column;
    }
    .booking__btn{
        margin-bottom: 20px;
    }
    .booking__checkbox-style{
        position: relative;
        margin: 0 10px 0 0;
    }
    .footer__logo{
        margin-bottom: 40px;
    }
    .footer__wrapper{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


@media (max-width: 560px) {
    .header__title{
        font-size: 60px;
    }
    .header__phone-number {
       display: none;
    }
    .menu__btn{
        display: inline-block;
        width: 40px;
        height: 30px;
        border: none;
        padding: 0;
        background-color: transparent;
        position: absolute;
        right: 20px;
        top: 25px;
    }
    .menu__btn::after,
    .menu__btn::before{
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: 2px;
        background-color: #fff;
    }
    .menu__btn::after{
        bottom: 0;
    }
    .menu__btn::before {
        top: 0;
    }
    .menu__btn span {
        display: block;
        height: 2px;
        background-color: #fff;
    }
    .menu__list{
        transform: translate(-200%);
        display: block;
        background-color: #886239;
        opacity: 0.8;
        position: absolute;
        left: 0;
        right: 0;
    }
    .menu__link{
        padding: 10px;
        display: block;
        text-align: center;
    }
    .logo{
        width: 100%;
        text-align: left;
        margin-left: 10px;
        margin-bottom: 30px;
    }
    .header__phone-number{
        margin-left: 0;
    }
    .menu{
        border: none;
    }
    .menu__list.menu__list--active{
        transform: translate(0%);
    }
    .direction__inner{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }
    .direction{
        padding: 50px 0;
    }
    .travel-info__items{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
    .title{
        font-size: 28px;
    }
    .popular__items{
        grid-template-columns: repeat(1,1fr);
    }
    .gallery__title{
        width: 100%;
        text-align: left;
    }
    .gallery__top{
        flex-wrap: wrap;
    }
    .gallery__item-img{
        width: 100%;
    }
    .gallery__slider-nav{
        display: none;
    }
    .about__title,
    .about__content,
    .tour__wrapper {
        text-align: center;
    }
    .slick-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 110%;
        z-index: 10;
    }
    .slick-prev {
        left: 30%;
    }
    .slick-next {
        right: 30%;
    }
}
@media (max-width: 460px) {
    .header__descr {
        display: none;
    }
    .travel-info__items{
        grid-template-columns: repeat(1,1fr);
    }
    .direction__inner{
        grid-template-columns: repeat(1,1fr);
    }
    .tour__info{
        grid-template-columns: repeat(1, 1fr);
    }
    .header__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
       flex-direction: column;
    }
    .slick-btn-dir {
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 100%;
    }
    .slick-prev-dir {
        left: 30%;
    }
    .slick-next-dir{
        right: 30%;
    }
    .direction {
        padding: 50px 0 70px;
    }
    .about__popup{
        min-height: 250px;
    }
}



@media (max-width: 375px) {
.logo img{
    max-width: 80%;
}
    .about__popup{
        min-height: 200px;
    }
}




